.containerMap{
    width: 40%;
    padding: 20px 5px 0 10px;
    height: 100vh;
}

/* fill: rgb(199, 199, 13);
    stroke: #2C3E50;
    stroke-width: 2px; */

#CO-LAG, #CO-CES, #CO-MAG, #CO-ATL, #CO-BOL, #CO-SUC, #CO-COR{
    fill: #FFFF66; 
    stroke: #2C3E50;
    stroke-width: 2px;
    cursor: pointer;
}

#CO-ANT, #CO-CAL, #CO-RIS, #CO-QUI{
    fill: #FFFF00;
    stroke: #2C3E50;
    stroke-width: 2px;
    cursor: pointer;
}

#CO-CHO, #CO-VAC, #CO-CAU, #CO-NAR{
    fill:#FFCC00;
    stroke: #2C3E50;
    stroke-width: 2px;
    cursor: pointer;
}

#CO-NSA, #CO-SAN, #CO-BOY, #CO-CUN, #CO-DC{
    fill: #2980B9;
    stroke: #fff;
    stroke-width: 2px;
    cursor: pointer;
}

#CO-TOL, #CO-HUI, #CO-CAQ, #CO-PUT, #CO-AMA{
    fill: rgb(50, 50, 253); 
    stroke: #fff;
    stroke-width: 2px;
    cursor: pointer;
}

#CO-ARA, #CO-CAS, #CO-MET, #CO-GUA, #CO-VAU, #CO-VID, #CO-GUV{
    fill: rgb(255, 33, 33);
    stroke: #fff;
    stroke-width: 2px;
    cursor: pointer;
}

