.containerMap{
    width: 50%;
    margin: 25px 0px 0px 30px;
}

#CO-LAG, #CO-MAG, #CO-CES, #CO-ATL, #CO-BOL, #CO-SAP, #CO-SUC, #CO-COR, #CO-CHO, #CO-ANT, #CO-NSA, #CO-SAN{
    fill: #F1C40F;
    stroke: #2C3E50;
    stroke-width: 2px;
}

#CO-LAG:hover, #CO-MAG:hover, #CO-CES:hover, #CO-ATL:hover, #CO-BOL:hover, #CO-SAP:hover, #CO-SUC:hover, #CO-COR:hover, #CO-CHO:hover, #CO-ANT:hover, #CO-NSA:hover, #CO-SAN:hover{
    fill: #7D6608;
}

#CO-ARA, #CO-VID, #CO-CAS, #CO-BOY, #CO-MET, #CO-CUN, #CO-CAL, #CO-QUI, #CO-VAC, #CO-TOL, #CO-CAU, #CO-NAR, #CO-HUI, #CO-RIS, #CO-DC{
    fill: #2980B9;
    stroke: #D0D3D4;
    stroke-width: 2px;
}

#CO-ARA:hover, #CO-VID:hover, #CO-CAS:hover, #CO-BOY:hover, #CO-MET:hover, #CO-CUN:hover, #CO-CAL:hover, #CO-QUI:hover, #CO-VAC:hover, #CO-TOL:hover, #CO-CAU:hover, #CO-NAR:hover, #CO-HUI:hover, #CO-RIS:hover, #CO-DC:hover{
    fill: #154360;
}

#CO-GUA, #CO-VAU, #CO-AMA, #CO-GUV, #CO-CAQ, #CO-PUT{
    fill: #C0392B;
    stroke: #D0D3D4;
    stroke-width: 2px;
}

#CO-GUA:hover, #CO-VAU:hover, #CO-AMA:hover, #CO-GUV:hover, #CO-CAQ:hover, #CO-PUT:hover{
    fill: #641E16;
}


